.case-card-container {
  flex: 1;
  margin-right: 10px;
  box-shadow: 0 0 10px #c7c7c7;

  &:last-of-type {
    margin-right: 0;
  }
}

.case-card-header {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 10px;
}
