.case-item-container {
  display: flex;
  padding: 10px 16px;
}

.case-item-wrap {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.case-item-content {
  margin: 0 16px;
}

.case-item-content-first {
  font-size: 13px;
  font-weight: 600;
}

.case-item-content-third-status {
  cursor: pointer;
}

.case-item-right-avatar {
  cursor: pointer;
}
