.case-item-container {
  display: flex;
  padding: 10px 16px;
  cursor: move !important;
}

.case-item-wrap {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.case-item-content {
  margin: 0 16px;
}

.case-item-content-first {
  font-size: 13px;
  font-weight: 600;
}
