.case-item-agent-line {
  background-color: #fff;
  transition: background-color 0.2s linear;
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
  }

  &.active {
    background-color: #e6f7ff;
    
    .case-item-agent-avatar {
      background-color: #1890ff;
    }
    
    .case-item-agent-name, .case-item-agent-check-icon {
      color: #1890ff;
    }
  }
}

.case-item-agent-avatar {
  cursor: pointer;
}

.ant-popover-arrow {
  right: 4px !important;
}

.ant-popover-inner-content {
  padding: 12px 0 0 !important;
}

.ant-tabs-nav {
  margin: -10px 0 0 !important;
  padding: 0 16px !important;
}

.ant-list-item {
  padding: 8px 16px !important;
  cursor: pointer;
}
